{#
/**
 * @file
 * Default theme implementation for a copyright notice.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - display_current year: boolean indicating whether the current year
     (interval) should be displayed.
 * - name: the name to be printed in the copyright notice, usually this is the
 *   site's name.
 * - year: the year information to be printed, typically a combination of the
 *   start and current year.
 *
 * @see template_preprocess_copyright_notice()
 *
 * @ingroup themeable
 */
#}
{% set name = name ? ' ' ~ name %}
{% set year = year ? ' ' ~ year %}

{%- block content -%}
  <span{{ attributes }}>Copyright &copy;{{ year }}{{ name }}, {% trans %}all rights reserved{% endtrans %}.</span>
{%- endblock -%}
